@font-face {
    font-family: Avernir;
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf")format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Regular.otf")format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Avernir;
    src: url("../../assets/Font/AvenirNextLTPro-Demi.otf")format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Demi.otf")format("woff");
    font-weight: 600;
}

@font-face {
    font-family: Avernir;
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf")format("woff2"),
         url("../../assets/Font/AvenirNextLTPro-Bold.otf")format("woff");
    font-weight: 700;
}