$font-stack: Avenir;

//Primary-Colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$BrainFlix-Silver: #AFAFAF;
$BrainFlix-White: #FFFFFF;

//Secondary-Colors
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$BrainFlix-Mercury: #E1E1E1;
$BrainFlix-Alabaster: #FAFAFA;
