$font-stack: Avenir;

//Primary-Colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$BrainFlix-Silver: #AFAFAF;
$BrainFlix-White: #FFFFFF;

//Secondary-Colors
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$BrainFlix-Mercury: #E1E1E1;
$BrainFlix-Alabaster: #FAFAFA;

//Mobile text and line heights
$Mobile-h1: 24px;
$Mobile-h1-line-height: 32px;
$Mobile-h2: 12px;
$Mobile-h1-line-height: 20px;
$Mobile-h3: 13px;
$Mobile-h1-line-height: 18px;
$Mobile-p: 13px;
$Mobile-h1-line-height: 18px;
$Mobile-other-elements: 10px;
$Mobile-other-elements-line-height: 20px;

//Desktop text and line heights
$Desktop-h1: 33px;
$Desktop-h1-line-height: 44px;
$Desktop-h2: 12px;
$Desktop-h1-line-height: 20px;
$Desktop-h3: 14px;
$Desktop-h1-line-height: 22px;
$Desktop-p: 14px;
$Desktop-h1-line-height: 22px;
$Desktop-other-elements: 12px;
$Desktop-other-elements-line-height: 20px;