@use "../../styles/partials/global.scss";
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-title{
    padding: 1.5rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $BrainFlix-Black;
}