@use "../../styles/partials/global.scss";
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-video{
    padding: 1.5rem 1rem 0 1rem;

    @include tablet{
        padding: 1.5rem 3rem 0 3rem;
    }
    @include desktop{
        padding: 1.5rem 3rem 0 1.5rem;
    }

    &__header{
        text-transform: uppercase;
        color: $BrainFlix-Silver;
        font-size: 0.8rem;
        line-height: 1.25rem;

        @include tablet{
            font-size: 0.875rem;
        }
    }

    &__list{
        margin: 1rem 0;
        display: flex;

        &__image{
            object-fit: cover;
            width: 7rem;
            height: 4rem;
            border-radius: 4px;
            @include tablet{
                width: 9rem;
                height: 5rem;
            }
        }

        &__details{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__text{
                font-size: 0.8rem;
                line-height: 1.25rem;
                margin-left: 0.75rem;
                &--light{
                    font-weight: 400;
                }
                @include tablet{
                    font-size: 0.875rem;
                }
            }
        }
    }
}