@use "../../styles/partials/global.scss";
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video{
    width: 100vw;

}

.video__player{
    width: 100%;
    background-color: $BrainFlix-Black;
    object-fit: cover;
}

.video__title{
    padding: 1.5rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $BrainFlix-Black;

    @include tablet{
        font-size: 2.063rem;
        line-height: 2.75rem;
        padding: 1.5rem 1rem 1rem 3rem;

        &__divider{
            border: 0px;
            margin: 0;
        }
    }
}