@use "../../styles/partials/global.scss";
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


ul{
    @include tablet{
        padding: 0 2.5rem;
    }
}

.comment-display{
    display: flex;
    padding: 1.5rem 1rem 0 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    &__image{
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        background-color: $BrainFlix-Mercury;
    }
    &__details__name-time{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text{
            font-size: 0.8rem;
            line-height: 1.25rem;
            &--mercury{
                color: $BrainFlix-Mercury;
            }
            &--right{
                align-self: end;
            }
        }
    }
    @include tablet{
        font-size: 0.875rem;
        &__div{
            margin: 0 2.5rem;
        }
    }
    @include desktop{
        padding: 1rem 7rem 0 7rem;
        &__div{
            border: 0px;
        }
    }
}