@use "../../styles/partials/global.scss";
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details{
    @include tablet{
        margin: 0 2.5rem;
    }
    
    @include desktop{
        margin: 0;
    }
}

.video-info{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include tablet{
        font-size: 0.875rem;
        padding: 0 0 1rem 0;
    }
    @include desktop{
        padding: 0 3rem 1.5rem 3rem;
    }
}

.video-details__title{
    padding: 1.5rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $BrainFlix-Black;

    @include tablet{
        font-size: 2.063rem;
        line-height: 2.75rem;
        padding: 1.5rem 1rem 1rem 0;
        width: 36.5rem;

        &__divider{
            border: 0px;
            margin: 0;
        }
    }
    @include desktop{
        padding: 1.5rem 1rem 1rem 2.5rem;
    }
}

.video-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.25rem;

    &__text{
        display: flex;
        font-size: 0.8rem;
        line-height: 1.25rem;
        &--silver{
            color: $BrainFlix-Silver;
            font-weight: 400;
        }
    }
    &__stats{
        display: flex;
        gap: 0.25em;
        &__image{
            font-size: 0.8rem;
            line-height: 1.25rem;
        }
        &__text{
            color: $BrainFlix-Silver;
            font-size: 0.8rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }
    @include tablet{
        flex-direction: row;
        gap: 2rem;
    }
    @include desktop{
        &__div{
            margin: 0 0 0 2.5rem;
        }
    }
}

.video-description{
    padding: 1.5rem 1rem 0 1rem;
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    
    @include tablet{
        font-size: 0.875rem;
        padding: 1.5rem 0 ;
    }

    @include desktop {
        padding: 1.5rem 0.75rem 1.5rem 2.5rem
    }

}